<div class="form-container">
  <a [routerLink]="['/home']" href="#" class="back-link">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Dashboard
  </a>

  <fieldset>
    <legend>Approve Providers</legend>
  </fieldset>

  <div class="text-center" *ngIf="isLoading">
    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
  </div>

  <div class="text-center" *ngIf="approvalList.length === 0 && !isLoading">There are no providers to approve</div>

  <article class="card provider mb-30" *ngFor="let provider of approvalList; let i = index">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-sm-7">
          <h5>{{ provider.name }}</h5>
          <small>{{ provider.title }} - {{ provider.category }}</small>
        </div>
        <div class="col-sm-5 text-right">
          <nav>
            <button class="btn btn-primary btn-md" (click)="approve(provider.address, i)">
              <i class="fa fa-check fa-fw"></i> Approve</button>
            <button class="btn btn-danger btn-md ml-3" (click)="reject(provider.address, i)">
              <i class="fa fa-ban"></i> Reject</button>
          </nav>
        </div>
      </div>
    </div>
    <div class="card-body">
      <strong>Email</strong>
      <p>{{ provider.email }}</p>
      <strong>Work email</strong>
      <p>{{ provider.work }}</p>
      <strong>Ethereum address</strong>
      <p><a href="https://etherscan.io/address/{{ provider.ethAddress }}" target="_blank">{{ provider.ethAddress }}</a></p>
      <strong>Timezone</strong>
      <p>{{ provider.timezone }}</p>
      <strong>Bio</strong>
      <p>{{ provider.bio }}</p>
      <strong>Description</strong>
      <p>{{ provider.description }}</p>
    </div>
  </article>
</div>
