<div class="form-container">
    <fieldset>
      <legend>Emergency Transfer</legend>
  
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="address" placeholder="0x...">
      </div>

      <button class="btn btn-primary btn-xl" (click)="listOwners()">Check</button>
      <button class="btn btn-danger btn-xl" (click)="transfer()">Transfer</button>
  
      <hr>
  
      <div class="text-right clearfix" *ngIf="owners.length">
        <h4 class="pull-left">Signers</h4>
        <a href="#" (click)="listOwners()" class="pull-right">
          <i class="fa fa-refresh fa-lg"></i>
        </a>
      </div>
  
      <div class="text-left">
        <div class="text-center" *ngIf="isLoading">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
        </div>
  
        <div *ngFor="let owner of owners" class="clearfix mb-10">
          <h6 class="pull-left">{{ owner[0] }}</h6>
        </div>
      </div>
  
    </fieldset>
  </div>
  