<div class="form-container">
  <a [routerLink]="['/home']" href="#" class="back-link">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Dashboard
  </a>

  <fieldset>
    <legend>Emergency Transfer</legend>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="address" placeholder="0x...">
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-xl" (click)="listSigners()">Check</button>
      <button class="btn btn-danger btn-xl" (click)="transfer()">Transfer</button>
    </div>

    <hr>

    <div class="text-right clearfix">
      <h4 class="pull-left">Signers</h4>
      <a href="#" (click)="listSigners()" class="pull-right">
        <i class="fa fa-refresh fa-lg"></i>
      </a>
    </div>

    <div class="text-center" *ngIf="signers.length === 0 && !isLoading">Looks like nothing is there!</div>

    <div class="text-left">
      <div class="text-center" *ngIf="isLoading">
        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
      </div>

      <div *ngFor="let signer of signers" class="clearfix mb-10">
        <h6 class="pull-left">{{ signer[0] }}</h6>
      </div>
    </div>

  </fieldset>
</div>
